/* A lighter navbar colour */
.light-nav {
    background-color: rgb(89, 53, 119);

}

/* Make a bolder and robotic font */
.navbar-brand-items {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.homepage-background {
    background-image: url('../images/homepage_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    animation: bounceIn 1.5s;
  }

.about-background {
    background-image: url('../images/about_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    animation: bounceIn 1.5s;
  }

.portfolio-background {
    background-image: url('../images/portfolio_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    animation: bounceIn 1.5s;
}

.contact-background {
    background-image: url('../images/contact_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    position: relative;
    animation: bounceIn 1.5s;
}

.container {
    position: relative;
  }
  .h2-contact {
   font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 20px;
  }

  .contact-background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* black overlay, 50% opacity */
  }

  .btn-submit {
    background-color: rgb(89, 53, 119);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 0;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
  }

  .contact-form {
    border: 1px solid #800080; /* purple border */
    padding: 20px;
    border-radius: 10px; /* rounded corners */
  }
  