/* A lighter navbar colour */
.light-nav {
    background-color: rgb(89, 53, 119);

}

/* Make a bolder and robotic font */
.navbar-brand-items {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.homepage-background {
    background-image: url('../images/homepage_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    animation: bounceIn 2.5s;
  }

.about-background {
    background-image: url('../images/about_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    animation: bounceIn 2.5s;
  }

.portfolio-background {
    background-image: url('../images/portfolio_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    animation: bounceIn 2.5s;
}

.contact-background {
    background-image: url('../images/contact_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    animation: bounceIn 2.5s;
}

